.nav{
   
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
   z-index: 1;
transition-timing-function: ease-in;
transition: all 0.5s;
}



.navbaar_contents{
   
    display: flex;
    justify-content: space-between;
    
}

.navbaar_contents .netflix_logo{
   width: 12rem;
    height: 5rem;
    position: fixed;
    top: 10px;
    left: 20px;
    object-fit: contain;
    cursor: pointer;
   
   
  
}

.navbaar_contents .netflix_avatar{
    height:3rem;
    width: 3rem;
    position: fixed;
    right: 50px;
    top: 20px;
    object-fit: contain;
    cursor: pointer;
   
}
